@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

:root {
    --blue-color: blue;
    --orange-color: #ef6300;
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
}

body {
    max-width: 1200px;
    margin: auto;
}

.banner-header {
    margin: 5px 0;
}

.banner-h-content {
    display: flex;
}

.banner-h-discription {
    height: 531px;
    font-size: 16px;
    font-weight: 700;
    background-color: rgb(245, 246, 250);
    padding: 60px 10px 1px 40px;
}
.banner-h-discription h1{
    font-size: 44px;
    font-weight: 700;
}
.banner-h-discription button {
    margin-top: 60px;
}

.banner-h-discription button,
.prod-list-content button {
    width: 150px;
    height: 80px;
    font-size: 24px;
    font-weight: 700;
    color: #f5f6fa;
    text-align: center;
    background-color: var(--orange-color);
    padding: 0.35em 1.2em;
    margin: 0 0.3 0.3 0;
    transition: 0.7ms;
    border-radius: 10px;
}


.banner-h-discription button:hover,
.prod-list-content button:hover {
    color: rgb(162, 248, 33);
    background-color: rgb(94, 84, 240);
    cursor: pointer;
}

.prod-list-container {
    margin: 55px 0;
}

.prod-list_inner header{
    text-align: center;
    font-size: 16px;
}

.prod-list_inner p, a {
    font-size: 16px;
    font-weight: 700;
}

.prod-list_inner nav{
    display: inline-flex;
}
.prod-list_inner nav a{
    color:var(--blue-color);
    padding: 15px 20px;
}

.prod-list-content {
    display: flex;
    /* display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr; */
    margin: 5px 0;
    padding: 5px 0;
}

.prod-item {
    font-weight: 700;
    margin: 10px;
    padding: 0 15px;
}

.prod-item article{
    text-align: center;
    margin: 10px 0;
    padding: 10px 0;
}
.prod-price {
    color:var(--blue-color);
}

.prod-item img{
    width: 100%;
    height: 100%;
    margin: 5px 0;
    border-radius: 10px;
    box-shadow: 5px 9px 20px rgba(0, 0, 0, 0.15);
}

.prod-item button {
    width: 120px;
    height: 50px;
    font-size: 18px;
}