@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

:root {
    --blue-color: #4e72d0;
    --orange-color: #ef6300;
    --background-color: rgb(245, 246, 250);
    --light-font: #9a9a9a;
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
}

body {
    max-width: 1200px;
    margin: auto;
}

h1 {
    text-align: center;
}

main table {
    justify-content: space-around;
    width: 100%;
    height: auto;
    margin: 20px;
}

table th, td {
    text-align: center;
    color: var(--blue-color) ;
    justify-content: space-between;
    flex: 1;
    /* margin: 20px; */
    padding: 20px;
}
td {
    text-align: center;
    color: var(--orange-color) ;
    justify-content: space-between;
    flex: 1;
    /* margin: 20px; */
    padding: 20px;
}

@media (max-width: 720px) {
    table {
        display: grid;

    }
}

/* contact form */
section div img {
    width: 100%;
    height: auto;
}
section span img {
    width: 100%;
    height: auto;
    display: block;
    margin: auto;
}

.h-about-us-discription {
    display: flex;
    justify-content: space-between;
    margin: 15px;
}

h3 {
    margin: 15px;
}

.wr-ab-us-low {
    display: flex;
    width: 100%;
    margin: auto;
}

.b-about-us-img {
    width: 50%;
    margin: auto;
    padding: 70px 10px;
}


.b-about-us-discription {
    display: block;
    width: 100%;
    padding: 100px 0 0 70px;
}
@media (max-width: 720px) {
    .h-about-us-discription {
        display: grid;
        width: 90%;
        height: auto;
        margin-left: 40px;
    }
    .wr-ab-us-low {
        display: grid;
        grid-template-columns: 1fr;
        width: 100%;
        height: auto;
    }
    h3 {
        text-align: center;
    }
    .b-about-us-img {
        width: 100%;
        height: auto;
    }
    .b-about-us-discription {
        display: block;
        width: 100%;
        height: auto;
        padding: 0 15px;
        margin: auto;
    }
}

/* contact form */

.low-form-content {
    background-color: var(--background-color);
    padding: 100px 0;
}

.form {
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 5px 9px 20px rgba(0, 0, 0, 0.15);
    background-color: #fff;
    padding: 20px;
    margin: 20px;
}


.form-text {
    text-align: left;
}

.form-text p{
    color: var(--light-font);
    font-size: 16px;
    font-weight: bold;
}

.form h4, p, a {
    padding: 5px;
}
.form a {
    color: var(--blue-color);
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    margin: 20px 0px;
}
.form a:hover {
    color: var(--orange-color);
    cursor: pointer;
}

label input {
    font-size: 18px;
    font-weight: 700;
    width: 200px;
    height: 30px;
    border: 2px solid;
    border-radius: 8px;
    margin-top: 20px;
}

label textarea {
    font-size: 18px;
    font-weight: 700;
    width: 200px;
    height: 60px;
    border-radius: 8px;
    border: 2px solid;
    margin-top: 20px;
}

.low-form-content form button{
    width: 200px;
    height: 40px;
    font-size: 16px;
    font-weight: 700;
    color: #f5f6fa;
    text-align: center;
    background-color: var(--orange-color);
    border-radius: 10px;
}

.low-form-content {
    display: flex;
}
.low-form-content img {
    width: 100%;
    height: auto;
}

@media (max-width: 720px) {
    .form form,
    .low-form-content {
        display: grid;
        justify-content: center;
    }

}
.low-form-content img {
    width: 100%;
    height: auto;
}

@media (max-width: 720px) {

    .low-form-content {
        display: block;
    }

}