@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

:root {
    --blue-color: #4e72d0;
    --orange-color: #ef6300;
    --background-color: rgb(245, 246, 250);
    --light-font: #9a9a9a;
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
}

body {
    max-width: 1200px;
    margin: auto;
}

    /* foter container */

.ftr-wr {
    display: flex;
    margin: 40px 0;
    padding: 5px 10px;
    justify-content: space-between;
    width: 100%;
    height: auto;
}

.ftr-logo{
    width: 100%;
    height: auto;
}

.ftr-logo-cont{
    color: var(--light-font);
    font-weight: bold;
    padding: 0px 10px;
    width: 250px;
}
.ftr-logo-cont span{
    color: var(--light-font);
    vertical-align: top;
    font-size: 8px;
}
.ftr-logo-cont {
    padding: 40px 10px;
    width: 100%;
    height: auto;
}

.ftr-icons img {
    padding: 10px;
    width: 40px;
}

h2 {
    color: var(--blue-color);
}
.nav-wr {
    text-align: left;
    display: flex;
    margin: 10px;
}
.nav-wr div {
    padding: 20px 30px;
    text-decoration: none;
}
.nav-wr a {
    text-decoration: none;
}

.manu-nav,
.ftr-qlinks,
.ftr-contacts {
    line-height: 30px;
}

.manu-nav,
.ftr-qlinks,
.ftr-contacts{
    line-height: 40px;
}

.manu-nav ul,
.ftr-qlinks ul {
    color: var(--orange-color);
    margin-left: -17px;
}

.manu-nav a,
.ftr-qlinks a {
    color: #000;
    font-weight: 700;
}
.manu-nav a:hover,
.ftr-qlinks a:hover{
    color: var(--orange-color);
    cursor: pointer;
    font-weight: 700;
}

.ftr-contacts span {
    color: var(--light-font);
    font-weight: 700;
}

.ftr-contacts a {
    font-size: small;
    font-weight: 700;
}
.ftr-contacts a:hover {
    color: var(--orange-color);
    cursor: pointer;
    font-weight: 700;
}

.created-by {
    display: flex;
    justify-content: space-between;
    font-size: 15px;
    font-weight: bold;
    color: var(--light-font);
    background-color: var(--background-color);
    margin: 0 10px;
    padding: 0 20px;
}

@media (max-width: 920px) {
    .ftr-wr {
        font-size: inherit;
        flex-direction: column-reverse;
        width: 100%;
        height: auto;
    }
    nav ul,
    .nav-wr h2,
    .ftr-contacts{
        line-height: 35px;
    }
}

@media (max-width: 720px) {

    .nav-wr,
    .created-by  {
        flex-wrap: wrap;
    }
}
@media (max-width: 530px) {
    
    .nav-wr,
    .ftr-logo-cont{
        justify-content: center;
        text-align: center;
    }
    .created-by {
        display: grid;
        justify-content: center;
    }
    footer nav a {
        text-align: left;
    }
}