/* contact form */
section div img {
    width: 100%;
    height: auto;
}
section span img {
    width: 100%;
    height: auto;
    display: block;
    margin: auto;
}

.h-about-us-discription {
    display: flex;
    justify-content: space-between;
    margin: 15px;
}

h3 {
    margin: 15px;
}

.wr-ab-us-low {
    display: flex;
    width: 100%;
    margin: auto;
}

.b-about-us-img {
    width: 50%;
    margin: auto;
    padding: 70px 10px;
}


.b-about-us-discription {
    display: block;
    width: 100%;
    padding: 100px 0 0 70px;
}
@media (max-width: 720px) {
    .h-about-us-discription {
        display: grid;
        width: 90%;
        height: auto;
        margin-left: 40px;
    }
    .wr-ab-us-low {
        display: grid;
        grid-template-columns: 1fr;
        width: 100%;
        height: auto;
    }
    h3 {
        text-align: center;
    }
    .b-about-us-img {
        width: 100%;
        height: auto;
    }
    .b-about-us-discription {
        display: block;
        width: 100%;
        height: auto;
        padding: 0 15px;
        margin: auto;
    }
}

/* contact form */

.low-form-content {
    background-color: var(--background-color);
    padding: 100px 0;
}

.form {
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 5px 9px 20px rgba(0, 0, 0, 0.15);
    background-color: #fff;
    padding: 20px;
    margin: 20px;
}

.form-text {
    text-align: left;
}

.form-text p{
    color: var(--light-font);
    font-size: 16px;
    font-weight: bold;
}
.form a {
    color: var(--blue-color);
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    margin: 20px 0px;
}
.form a:hover {
    color: var(--orange-color);
    cursor: pointer;
}

label input {
    font-size: 18px;
    font-weight: 700;
    width: 200px;
    height: 30px;
    border-radius: 10px;
    margin-top: 20px;
}

label textarea {
    font-size: 18px;
    font-weight: 700;
    width: 200px;
    height: 30px;
    border-radius: 10px;
    border: 2px solid;
    margin-top: 20px;
}

.low-form-content form button{
    font-size: 16px;
    width: 206px;
    height: 40px;
}

.low-form-content {
    display: flex;
}
.low-form-content img {
    width: 100%;
    height: auto;
}

@media (max-width: 720px) {

    .low-form-content {
        display: block;
    }

}