@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

:root {
    --blue-color: #4e72d0;
    --orange-color: #ef6300;
    --background-color: rgb(245, 246, 250);
    --light-font: #9a9a9a;
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
}

body {
    max-width: 1200px;
    margin: auto;
} 

    /* big middle banner */

.banner-header {
    margin: 5px 0;
}

.banner-h-content {
    display: flex;
}

.banner-h-discription {
    height: 531px;
    font-size: 16px;
    font-weight: 700;
    background-color: var(--background-color);
    padding: 60px 10px 1px 40px;
}
.banner-h-discription h1{
    font-size: 44px;
    font-weight: 700;
}

.banner-h-discription span{
    color: var(--light-font);
}

.banner-h-discription > div >  img{
    width: 100%;
    display: block;
}

.banner-h-discription button {
    margin-top: 60px;
}

.banner-h-discription button,
.prod-list-content button,
.low-form-content form button {
    width: 150px;
    height: 80px;
    font-size: 24px;
    font-weight: 700;
    color: #f5f6fa;
    text-align: center;
    background-color: var(--orange-color);
    padding: 0.35em 1.2em;
    margin: 0 0.3 0.3 0;
    transition: 0.7ms;
    border-radius: 10px;
}

.banner-h-discription button:hover,
.prod-list-content button:hover,
.low-form-content form button:hover {
    color: rgb(162, 248, 33);
    background-color: var(--blue-color);
    cursor: pointer;
}

/* products list container */

.prod-list-container {
    margin: 55px 0;
}

.prod-list-inner nav {
    color: var(--light-font);
    font-size: 16px;
    font-weight: 700;
}


.prod-list-inner header{
    text-align: center;
    font-size: 16px;
}
.prod-list-inner header h1,
.prod-list-inner p{
    padding: 10px;
}

.prod-list-inner p {
    color: var(--light-font);
    font-size: 16px;
    font-weight: 700;
}

.prod-list-inner nav a{
    color:var(--blue-color);
    padding: 8px;
    text-decoration-line: none;
}

.prod-list-inner nav a:hover {
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    background-color: var(--orange-color);
}

.prod-list-content {
    display: flex;
    margin: 5px 0;
    padding: 5px 0;
}

.prod-item {
    font-weight: 700;
    margin: 10px;
    padding: 0 15px;
}

.prod-item article{
    text-align: center;
    margin: 10px 0;
    padding: 10px 0;
}
.prod-price {
    color:var(--blue-color);
}

.prod-item img{
    width: 100%;
    height: 100%;
    margin: 5px 0;
    border-radius: 10px;
    box-shadow: 5px 9px 20px rgba(0, 0, 0, 0.15);
}

.prod-item button {
    width: 120px;
    height: 50px;
    font-size: 18px;
}
@media (max-width: 900px) {
    .banner-m-discription button,
    .banner-m-discription h1, p {
        font-size: inherit;
    }

    .banner-m-content button {
        width: auto;
        height: auto;
    }
}
@media (max-width: 600px) {
    .banner-m-discription button,
    .banner-m-discription h1, p {
        margin: auto;
    }

}
@media (max-width: 500px) {
    .banner-m-discription button,
    .banner-m-discription h1, p {
        font-size: 70%;
    }

}
@media (max-width: 400px) {
    .banner-m-content {
        display: block;
        width: inherit;
        height: auto;
    }
    /* .banner-m-discription, h1, p {
        width: 100%;
        height: auto;
        padding-left: 5px;
        margin: auto;
    } */
    .hdr-img {
        width: 100%;
        height: auto;
    }

}

@media (max-width: 700px){
    /* .prod-list-inner header, */
    .prod-list-inner nav a{
        display: block;
        width: 100%;
        height: auto;
        padding: 5px;
        margin: auto;
    }
    .prod-list-content {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 530px){

    .prod-list-content {
        display: grid;
        grid-template-columns: 1fr;
    }
}

/* contact form */

.low-form-content {
    background-color: var(--background-color);
    padding: 100px 0;
}

.form {
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 5px 9px 20px rgba(0, 0, 0, 0.15);
    background-color: #fff;
    padding: 20px;
    margin: 20px;
}


.form-text {
    text-align: left;
}

.form-text p{
    color: var(--light-font);
    font-size: 16px;
    font-weight: bold;
}

.form h4, p, a {
    padding: 5px;
}
.form a {
    color: var(--blue-color);
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    margin: 20px 0px;
}
.form a:hover {
    color: var(--orange-color);
    cursor: pointer;
}

label input {
    font-size: 18px;
    font-weight: 700;
    width: 200px;
    height: 30px;
    border: 2px solid;
    border-radius: 8px;
    margin-top: 20px;
}

label textarea {
    font-size: 18px;
    font-weight: 700;
    width: 200px;
    height: 60px;
    border-radius: 8px;
    border: 2px solid;
    margin-top: 20px;
}

.low-form-content form button{
    width: 200px;
    height: 40px;
    font-size: 16px;
    font-weight: 700;
    color: #f5f6fa;
    text-align: center;
    background-color: var(--orange-color);
    border-radius: 10px;
}

.low-form-content {
    display: flex;
}
.low-form-content img {
    width: 100%;
    height: auto;
}

@media (max-width: 720px) {
    .form form,
    .low-form-content {
        display: grid;
        justify-content: center;
    }

}
.low-form-content img {
    width: 100%;
    height: auto;
}

@media (max-width: 720px) {

    .low-form-content {
        display: block;
    }

}